/*VARIABLES*/

/*MEDIA QUERIES*/
@media screen and (max-width: 850px) { /* Breakpoint 1 */
  .flex-container {
    flex-wrap: wrap; 
  }
}

/*GLOBALS*/

/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
  margin: 1px;
  padding: 1px;
}

body {
  background-color: white;
  background: no-repeat;
}

/* STYLE NAV BAR */
.navbar {
  overflow: hidden;
  background-color: black;
  padding: 0.2em;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: right;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  margin-right: 3em;
}

a {
  /*color: #feb190;*/
  color: black;
  font-style: bold;
  text-decoration: none;
  font-weight: 1000px;
}

a:hover {
  color: #4ca1af;
  border-radius: 10%;
  border: 5px solid;
}

/* STYLE HEADER */

#header-text {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

header h1 {
  color: white;
  font-size: 4em;
}

header p {
  color: white;
  font-size: 2em;
}

/*STYLE TEXT*/
p {
  text-align: center;
  font-size: 15px;
}

/* STYLE MAIN */
main {
  background-image: linear-gradient(to bottom right, #4ca1af,#c4e0e5);
}

main h2 {
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom right, #4ca1af,#c4e0e5);
  font-size: 2.5em;
  padding-top: 5%;   
  padding-left: 10%;
  padding-right: 10%;
}

h3 {
  color: black;
  background-image: linear-gradient(to bottom right, #4ca1af,#c4e0e5);
  font-size: 1.5em;
  font-family: cursive;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

h4 {
  color: orange;
  font-size: 1.5em;
  text-align: center;
}

h5 {
  color: orange;
  font-size: 1.4em;
  text-align: center;
}

h6 {
  color: orange;
  font-size: 26px;
  text-align: center;
}


/* INFORMATION DISPLAYS */
#info-display {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 50px;   
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8%;
}

.info-box {
  font-size: 22px;
  background-color: #fffaf5;
  width: 12em;
  padding: 2%;
  border-radius: 12px;
  height: justify;
}

.info-box:hover {
  box-shadow: 0em 0.8em 0.8em white;
}

#info-display img {
  object: cover;
  height: 10em;
  width: 100%;
  border-radius: 6px;
}

.info-box p {
  padding-top: 5%;
}


/* STYLE RESOURCE GENERATOR 
#resource-gen {
  font-size: 22px;
  text-align: center;
  background-color: #fffaf5;
  padding: 1em;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 35%;
  margin-right: 35%;
}

#resource-gen h2 {
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-top: 5%;   
  padding-left: 5%;
  padding-right: 5%;
}

#resource-gen2 {
  font-size: 22px;
  text-align: center;
  background-color: #fffaf5;
  padding: 1em;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

button {
  background: #4ca1af;
  border-style: none;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  color: #ffffff;
  font-size: 1em;
}

button:hover {
  box-shadow: 0em 0.4em 0.4em #eddcc9;
}

/*Style Image */
.business {
  color: white;
  font-size: 70px;
  text-shadow: 2px 2px #001B2E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* ADD MORE! */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Line Divide*/
.intro {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 0.4vw solid #000000;
    font-size: 1.7vw;
    margin-bottom: 10px;
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}
